/* Reset some default styles */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background image */
body {
    background-image: url('https://img.freepik.com/free-photo/shopping-trolley-with-alarm-clock-bits-paper-macaroons-near-sale-tag_23-2147957102.jpg?size=626&ext=jpg&ga=GA1.1.386372595.1697673600&semt=ais');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

/* Style the header and navigation */
header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    color: #fff;
}

ul {
    list-style: none;
}

ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Style the hero section */
.hero {
    text-align: center;
    color: #fff;
    padding: 100px 0;
    background-color: rgba(0, 0, 0, 0.6);
}

h1 {
    font-size: 36px;
    font-family: 'Arial Black', Gadget, sans-serif;
}

p {
    font-size: 18px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f45f5f;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e44242;
}

/* Style the product list */
.product-list {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.product {
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: calc(33.33% - 20px);
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h3 {
    font-size: 24px;
    margin: 10px 0;
}

.product p {
    font-size: 18px;
    margin: 10px 0;
}

button {
    background-color: #f45f5f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e44242;
}

/* Style the footer */
footer {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
    padding: 10px 0;
}